
.card-img-top {
    height: 15rem;
    object-fit: cover;
}

body {
    color: rrgb(46, 44, 44);
    font-size: 17px;
  }

.mybutton{
    background-color: #4CAF50;  padding: 15px 32px;height: 15px; border-radius: 12px;
 }