{% extends 'base.html' %}

{% block content %}

<!-- search bar -->
    <form action="/", method="POST">
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <input id="search_content" name="search_content" type="search" placeholder="Search your dog" aria-describedby="button-addon1" class="form-control border-0 bg-light">
          <div class="input-group-append">
            <button type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>

<!-- list dog card -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.thesprucepets.com/thmb/kV_cfc9P4QWe-klxZ8y--awxvY4=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/adorable-white-pomeranian-puppy-spitz-921029690-5c8be25d46e0fb000172effe.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Lost</h5> -->
          <h4><span class="badge badge-warning">Lost</span></h4>

          <span class="badge badge-pill badge-secondary">tag1</span>
          <span class="badge badge-pill badge-secondary">tag2</span>
          <span class="badge badge-pill badge-secondary">tag3</span>

            <div class="row">
              <div class="col-1">
                <p class="card-text"><i class='fas fa-envelope'></i></p>
              </div>
              <div class="col-10">
                <p class="card-text">name@gmail.com</p>
              </div>
            </div>

            <div class="row">
              <div class="col-1">
                <p class="card-text"><i class='fas fa-map-marker-alt'></i></p>
              </div>
              <div class="col-10">
                <p class="card-text">1600 Holloway Ave, San Francisco, CA 94132</p>
              </div>
            </div>

          <!-- <p class="card-text"><i class='fas fa-envelope'></i></p>
          <p class="card-text"><i class='fas fa-map-marker-alt'></i> 1600 Holloway Ave, San Francisco, CA 94132</p> -->
          <!-- <a href="" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>   

    {{ response }}

{% endblock %} 

