{% extends 'base.html' %}

{% block content %}

<style>
  .mybutton{
    padding: 2px;
    width : 100%;
 }

</style>
<!-- search bar -->
    <form action="/", method="POST">
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <input id="search_content" name="search_content" type="search" placeholder="Search your dog" aria-describedby="button-addon1" class="form-control border-0 bg-light">
          <div class="input-group-append">
            <button type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>

<!-- list dog card -->
<div class="container-fluid">
  <div class="row">   
    {% for entity in entities %}
    <div class="col-6 col-md-4 col-lg-3 mb-4">
      <div class="card mx-auto">
        <img class="card-img-top" src="{{entity['image_url']}}" alt="Card image cap">
        <div class="card-body">
          {%if (entity['post_type']=='lost' or entity['post_type']=='Lost')%}
          <!-- <div class="text-right"> -->
            <h4><span class="badge badge-warning">{{entity['post_type']}}</span></h4>
       
          {% else %}
            <h4><span class="badge badge-info">{{entity['post_type']}}</span></h4>
          {% endif %}
          <div class="p-1">
            <span class="badge badge-pill badge-secondary">tag1</span>
            <span class="badge badge-pill badge-secondary">tag2</span>
            <span class="badge badge-pill badge-secondary">tag3</span>

          </div>


          <div class="p-1">
            <div class="row">
              <div class="col-1">
                <p class="card-text"><i class="fas fa-phone-alt"></i></p>
              </div>
              <div class="col-10">
                <p class="card-text">{{entity['contact']}}</p>
              </div>
            </div>
          </div>

          <div class="p-1">
            <div class="row">
              <div class="col-1">
                <p class="card-text"><i class='fas fa-map-marker-alt'></i></p>
              </div>
              <div class="col-10">
                <p class="card-text">{{entity['location']}}</p>
              </div>
            </div>
          </div>
          
          <div class="text-center p-1">
            <a class="btn btn-primary mybutton text-center" href="/post" role="button">Edit</a>
          </div>
          
            
           
  
        </div>
      </div>  
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %} 

